body {
  background-color: #1B1B24;
}

.appContainer {
  background-color: #1B1B24;
  color: #F0F0ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}



header {
  color: #009999;
  font-size: 50px;
  margin-top: 10px;
}

nav {
  color: #F0F0ED;
  background-color: #596c79c8;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 8px;
}

.selectCategory {
  background-color: #1B1B24;
  color: #F0F0ED;
  padding: 5px 10px;
  border-radius: 5px;
}

.linkText {
  color: #F0F0ED
}

.reviewsContainer {
  width: 90%;
  height: 100%;
}

.initialPageLoad {
  text-align: center;
}

.reviewsSection {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}


.catHeader {
  text-align: center;
  padding: 10px;
}

.catDescription {
  text-align: center;
  padding: 10px;
}



.reviewsSection h3 {
  margin: 5px;
}

.reviewCard {
  width: 280px;
  height: 420px;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px #596c79c8;
}

.reviewCard:hover {
  box-shadow: 0 0 15px 5px #7cb9a6
}


.reviewImage {
  max-width: 240px;
  max-height: 160px;
}

.singleReview {
  text-align: center;
  width: 75%;
}

.reviewBody {
  text-align: justify
}

.reviewVoteButton {
  padding: 5px 10px;
  margin: 5px 5px
}

.commentList {
  margin: 0;
  padding: 0;
}

.commentsSection {
  color: #1B1B24;
  background-color: #7cb9a6;
  border-radius: 20px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

.commentCard {
  background-color:#1B1B24;
  list-style: none;
  text-align: left;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  box-shadow:0 0 10px 2px #F0F0ED;
  display:flex;
  flex-direction: column;
  color: #F0F0ED;

}

.error {
  color: rgb(182, 9, 9);
  font-weight: 900
}

.success {
  font-style:italic
}

 .textBox{
  background-color:#1B1B24;
  height: 60px;
  resize: none;
  display: block;
  color: #F0F0ED;
  list-style: none;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  flex-grow: 1;
}

.commentButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900
}

::placeholder {
  color:  #f0f0edcf
}
