/* App */

body {
  background-color: #1B1B24;
}

.appContainer {
  background-color: #1B1B24;
  color: #F0F0ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

header {
  color: #009999;
  font-size: 50px;
  margin-top: 10px;
  font-weight: 900;  
}

button { 
  background-color: #008383;
  color: #fffffc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

button:disabled {
  background-color: #596c79;
}

/* Nav bar */

nav {
  color: #F0F0ED;
  background-color: #596c79;
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 1px 5px #43515b
}

.navContainer {
  color: #F0F0ED;
  background-color: #596c79;
  width: 100%;
  display: inline;
  align-items: center;
  justify-content:center;
  gap: 20px;
}

.navButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 8px;
}


.linkText {
  color: #F0F0ED;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

.catForm {
  display: inline-block;
  margin-left: 10px;
}

.formFlex {
  display: flex;
  flex-wrap: wrap
}

.radioButton {
  display: inline;
  margin-left: 10px;

}

.navAvatar {
  height: 80px;
  display: inline;
  border: solid #009999 2px;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin-right: 10px;
}

.navAvatar:hover {
  box-shadow: 0 0 8px 5px #009999
}


.selectCategory {
  background-color: #1B1B24;
  color: #F0F0ED;
  padding: 5px 10px;
  border-radius: 5px;
}


/* Reviews */

.reviewsContainer {
  width: 90%;
  height: 100%;
}

.initialPageLoad {
  text-align: center;
  margin: 10px
}

.blank {
  height: 7px;
}

.reviewsSection {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}


.catHeader {
  text-align: left;
  padding: 5px;
  margin-left: 5%
}

.catDescription {
  text-align: left;
  padding: 5px;
  margin-left: 5%
}



.reviewsSection h3 {
  margin: 5px;
}

.reviewCard {
  width: 280px;
  height: 480px;
  list-style: none;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px #596c79c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.reviewCard:hover {
  box-shadow: 0 0 15px 10px #596c79
}


.reviewImage {
  max-width: 240px;
  max-height: 160px;
}

.navNewReview {
  margin: 0 auto;
  display: block;
  border-radius: 10px

}

/* Individual review page */

.singleReview {
  text-align: center;
  width: 90%
}

.reviewBody {
  text-align: justify
}

.reviewVoteButton {
  padding: 5px 10px;
  margin: 5px 5px
}

.commentList {
  margin: 0;
  padding: 0;
}

.commentsSection {
  color: #1B1B24;
  background-color: #7cb9a6;
  border-radius: 20px;
  padding:0;
  display: flex;
  flex-direction: column;
  
}

.commentCard {
  background-color:#1B1B24;
  list-style: none;
  text-align: left;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  box-shadow:0 0 10px 2px #F0F0ED;
  display:flex;
  flex-direction: column;
  color: #F0F0ED;
}

.removeSection {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.removeButton {
  background-color: #596c79;
  color: #fffffc;
  width:150px;
  display:inline-block;
  border-radius: 10px;
  padding: 5px;
}

.deleteError {
  display: inline-block;
  margin: 5px;
}

.error {
  color: rgb(182, 9, 9);
  font-weight: 900;
}

.success {
  font-style:italic
}

 .textBox{
  background-color:#1B1B24;
  height: 60px;
  resize: none;
  display: block;
  color: #F0F0ED;
  list-style: none;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  flex-grow: 1;
}

.commentButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900
}

.commentVoteSection {
  display:flex;
  display:wrap;
  align-items: center;
}

.commentVoteSection button {
  height: 30px;
}

.commentVoteSection p {
  margin-left: 10px
}

::placeholder {
  color:  #f0f0edcf
}

.commentPageList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  background:#596c79;
  color:#F0F0ED;
  border-radius: 10px;
  margin: 5px 15px;
  padding: 5px;
  font-weight: 400;
  font-size: 18px;
}

.pageNumber:hover {
  cursor: pointer;
  font-weight: 600
}

.pageNumber {
  text-decoration: underline;
}







/* User profile */

.userPage {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.userList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.userCard {
  box-shadow: 0 0 15px 2px #596c79c8;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  margin: 30px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  max-width: 300px;
  height: 300px;
}

.userCard:hover {
  box-shadow: 0 0 15px 10px #596c79
}

.userProfileText {
  margin: 5px;
}

.userProfileText h3 {
  padding: 5px;
  margin: 5px;
}

.userProfileText p {
  padding: 5px;
  margin: 5px;
}

.userProfileAvatar {
  max-height: 150px;
  max-width: 150px;
  margin: 20px 5px;
  background-color: white;
  border-radius: 8px;
  border: solid 5px #009999;

}

.selectedUser {
  box-shadow: 0 0 15px 2px #008383;
}

.selectedUser:hover {
  box-shadow: 0 0 15px 2px #008383;
}


/* Add Review */

.addReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%
}

.addReviewForm {
  box-shadow: 0 0 5px 5px #596c79;
  border-radius: 10px;
  width: 100%;
}

.addReviewForm section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:5px;
  padding: 10px 5px;
}

.addReviewForm section input, textarea {
  background-color: #1B1B24;
  border: solid 2px #596c7968;
  border-radius: 5px;
  color: #F0F0ED;
  padding: 5px 5px;
}

.addReviewForm section textarea {
  resize: none;
  height: 150px;
}

.addReviewButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900;
  border-radius: 7px;
}

.missing {
  visibility: hidden;
}

.newReview {
  height: 500px;
  width: 100%
}

.newReview h3 {
  margin: 2px;
}

.resetButton {
  background-color: #596c79;
}

.newReviewContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 100%
}

.newReviewContainer h3{
  margin: 5px;
  border-bottom: solid #009999;
  font-size: 16px;
  font-weight: 400
}

.newReviewSubmit:disabled {
  background-color: #596c79;
}

.formMsg {
  padding: 0;
  margin: 0
}


/* Media queries */


@media only screen and (min-width:375px) {
  nav {
    height: 160px
  }
  .singleReview {

    width: 85%
  }
}

@media only screen and (min-width:500px) {
  nav {
    height: 110px
  }
}

@media only screen and (min-width:520px) {

  nav {
    height: 110px
  }

.navContainer{
  display: flex
}
.formFlex {
  margin: 5px;
}

.catForm {
  display: flex;
}


.radioButtons{
  text-align: right;
  display: inline;
  margin: 5px;
}

}

@media only screen and (min-width:520px) {
  .userCard {
    flex-direction: row;
    height: 170px;
    padding: 10px 30px;
    margin: 20px;
    justify-content: space-between;
    max-width: 350px
  }

  .userProfileText {
    text-align: left;
    margin-right: 20px
  }

}

