body {
  background-color: #1B1B24;
}

.appContainer {
  background-color: #1B1B24;
  color: #F0F0ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}



header {
  color: #009999;
  font-size: 50px;
  margin-top: 10px;
}

nav {
  color: #F0F0ED;
  background-color: #596c79;
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navContainer {
  color: #F0F0ED;
  background-color: #596c79;
  width: 100%;
  display: inline;
  align-items: center;
  justify-content:center;
  gap: 20px;
}

.navButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 8px;
}


.linkText {
  color: #F0F0ED;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

.catForm {
  display: inline-block;
  margin-left: 10px;
}

.formFlex {
  display: flex;
  flex-wrap: wrap
}

.radioButton {
  display: inline;
  margin-left: 10px;

}

.navAvatar {
  height: 50px;
  display: inline;
  border: solid #009999 2px;
  background-color: #7cb9a6;
  border-radius: 10px;
  padding: 2px;
  margin-right: 10px;
}

.navAvatar:hover {
  box-shadow: 0 0 8px 5px #009999
}


.selectCategory {
  background-color: #1B1B24;
  color: #F0F0ED;
  padding: 5px 10px;
  border-radius: 5px;
}



.reviewsContainer {
  width: 90%;
  height: 100%;
}

.initialPageLoad {
  text-align: center;
}

.reviewsSection {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}


.catHeader {
  text-align: left;
  padding: 5px;
  margin-left: 5%
}

.catDescription {
  text-align: left;
  padding: 5px;
  margin-left: 5%
}



.reviewsSection h3 {
  margin: 5px;
}

.reviewCard {
  width: 280px;
  height: 480px;
  list-style: none;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px #596c79c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.reviewCard:hover {
  box-shadow: 0 0 15px 10px #596c79
}


.reviewImage {
  max-width: 240px;
  max-height: 160px;
}

.singleReview {
  text-align: center;
  width: 75%;
}

.reviewBody {
  text-align: justify
}

.reviewVoteButton {
  padding: 5px 10px;
  margin: 5px 5px
}

.commentList {
  margin: 0;
  padding: 0;
}

.commentsSection {
  color: #1B1B24;
  background-color: #7cb9a6;
  border-radius: 20px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

.commentCard {
  background-color:#1B1B24;
  list-style: none;
  text-align: left;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  box-shadow:0 0 10px 2px #F0F0ED;
  display:flex;
  flex-direction: column;
  color: #F0F0ED;

}

.error {
  color: rgb(182, 9, 9);
  font-weight: 900
}

.success {
  font-style:italic
}

 .textBox{
  background-color:#1B1B24;
  height: 60px;
  resize: none;
  display: block;
  color: #F0F0ED;
  list-style: none;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  flex-grow: 1;
}

.commentButton {
  background-color: #008383;
  color: #fffffc;
  font-weight: 900
}

::placeholder {
  color:  #f0f0edcf
}



@media only screen and (min-width:375px) {
  nav {
    height: 130px
  }
}

@media only screen and (min-width:500px) {
  nav {
    height: 110px
  }
}

@media only screen and (min-width:520px) {

  nav {
    height: 90px
  }

.navContainer{
  display: flex
}
.formFlex {
  margin: 5px;
}

.catForm {
  display: flex;
}


.radioButtons{
  text-align: right;
  display: inline;
  margin: 5px;
}

}

